/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #0e1020b9;
}

div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li p {
    margin: 5px 0;
}

/* Estilos específicos para la navegación */

nav {
    background-color: #28A745;  /* Fondo verde para la navegación */
    padding: 10px 0;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #275a36;  /* Color morado al pasar el cursor */
}

/* Estilos para el pie de página */

div {
    margin-top: 40px;
    background-color: #28A745;  /* Fondo coral para el pie de página */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}